<div id="<%= dom_id incident_event %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Incident:</strong>
    <%= incident_event.incident_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= incident_event.kind %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Occurred at:</strong>
    <%= incident_event.occurred_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Message:</strong>
    <%= incident_event.message %>
  </div>
</div>
