<div id="<%= dom_id work_order %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Asset:</strong>
    <%= work_order.asset_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= work_order.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= work_order.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Scheduled for:</strong>
    <%= work_order.scheduled_for %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= work_order.status %>
  </div>
</div>
